<title></title> 
  <div class="container" class="clearfix">
    <div class="well" class="clearfix">
    <legend>About Us</legend>
            <p> Campuses are hotspots with loads of activity! It hard to stay informed about the events of your interest.</p>
             <p>Kampusbee is an endeavor to provide an event management platform that is easily accessible for users and organizers. Our primary goal is to capture the activity and keep the user stay informed. 
    <p>We want to connect people with activities not only inside the campus but also across campuses</p>
       <legend> Our Vision</legend>      
     <p>Our vision is to bridge gap between the organizers and attendees</p>

<p>Feel free to send us your feedback! It's just a click away! <%=link_to "Feedback", new_contact_form_path%></p>         
          
	 </div>  
</div>
